@charset 'UTF-8';
/*mobile first*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}

html {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.542);
}

body {
    background-image: url(../imagens/back-phone.jpg);
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: rgba(128, 128, 128, 0.421);
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

img {
    display: block;
    margin: auto;
}

img#celular { display: block;}
img#tablet { display: none;}
img#pc { display: none;}
img#tv { display: none;}