p.muted.notice {
  display: none;
}

#header ul.primary,
#footer,
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected,
a.tag:hover {
  background: #DB7093;
}

#header .heading a,
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header fieldset,
#header form,
#header p,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 a:link,
.blurb h4 img,
.system .latest h3,
.system div.news h3,
.system .tweets h3,
.required,
.error,
a.cloud7,
a.cloud8 {
  color: #DB7093;
}

#dashboard,
#dashboard.own,
.error,
.comment_error,
.kudos_error,
#header ul.primary,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
#header .primary a,
#header .primary input,
#header .search input {
  border-color: #DB7093 !important;
}

#header .menu a,
#header .dropdown:hover .menu a {
  color: #111;
}

.notice {
  background-color: #FFB6C1 !important;
  border: 1px solid #DB7093 !important;
  color: #DB7093 !important;
}

.notice a,
.notice a:visited,
.notice a:hover {
  color: #DB7093 !important;
}

img.logo {
  padding: 10px 70px 0px 0px;
  background-size: 70px;
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
}

#stat_chart g[clip-path^=url] > g:nth-of-type(2) rect,
#stat_chart svg g:nth-of-type(2) > g rect:last-of-type {
  filter: hue-rotate(222deg);
  opacity: 10%;
}

button,
.actions a,
.actions a:link,
.action,
input[type="submit"],
.actions a:visited {
  color: #DB7093;
  background-color: #FFB6C1;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.actions input,
input[type="submit"],
textarea {
  border: 1px solid;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

input {
  width: 96%;
  border: 1px solid;
  background-image: none;
  box-shadow: none;
}

.actions input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

form.search input[type="text"] {
  border-top-color: initial;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
.actions a:active,
#outer .current,
#header .current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  color: #DB7093;
  background-color: #FFDAB9;
  border: 1px solid rgb(246, 6, 230);
  border-color: initial;
  box-shadow: inset 1px 1px 3px #826085;
}

#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
#header .primary,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.delete a,
span.delete,
#header ul.primary {
  box-shadow: none;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus {
  border: none;
  box-shadow: none;
}

.listbox .index,
.dashboard .listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type="submit"],
button,
.current,
.actions label {
  border: none;
  border-bottom: none;
  background-image: none;
  box-shadow: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
  box-shadow: none;
  background-image: none;
  filter: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
.actions input,
input[type=submit],
button,
.current,
.actions label {
  background: #FFE4E1;
}

.blurb h4.heading a:visited {
  color: #ff85c2 !important;
}

#header h1 sup {
  display: none;
}

dl.stats dt {
  display: none;
}

.skins .header dl.stats dt {
  display: inline-block;
}

dl.stats dd:nth-of-type(1)::before {
  background: url(https://64.media.tumblr.com/845302c18df0fb05bcf2edac018cc13f/d9b14bd9ef815581-d6/s75x75_c1/0e65a163c74f9a180a86778e8c8cc4f7275cb7e4.png);
}

dl.stats dd:nth-of-type(2)::before {
  background: url(https://64.media.tumblr.com/ee46c670f6305a800f77c747751d8b45/d9b14bd9ef815581-98/s75x75_c1/2d7a56e672ddd8aa5c23291b3f6824b09f199f29.png);
}

dl.stats dd.language::before {
  display: none !important;
}

dl.stats dd.kudos::before {
  background: url(https://64.media.tumblr.com/65d4f41aa3628ae2e3b4c1d3ff63a121/fb47cb665e930246-10/s75x75_c1/0240a9119a33ab6b76e7944be951e45577df3b75.png);
}

dl.stats dd.words::before {
  background: url(https://64.media.tumblr.com/845302c18df0fb05bcf2edac018cc13f/d9b14bd9ef815581-d6/s75x75_c1/0e65a163c74f9a180a86778e8c8cc4f7275cb7e4.png);
}

dl.stats dd.chapters::before {
  background: url(https://64.media.tumblr.com/68cd2a9507132c242f6126926ddd20c5/d9b14bd9ef815581-40/s75x75_c1/102c4f78f8a8b777235baf67ee303309869858ce.png);
}

dl.stats dd.comments::before {
  background: url(https://64.media.tumblr.com/b68a8f318f64fb52e7df034d829a3eea/d9b14bd9ef815581-be/s75x75_c1/74d57ac0753f110355aa1ec8155b6c73705d07e0.png);
}

dl.stats dd.bookmarks::before,
dl.stats dd a[href$=bookmarks]::before {
  background: url(https://64.media.tumblr.com/0604b5bbb71f2e4d783667a4a8675e36/d9b14bd9ef815581-3a/s75x75_c1/0fb1305e9edbeeb9fb8a7882a81a23fe8e9d1ee1.png);
}

dl.stats dd.hits::before {
  background: url(https://64.media.tumblr.com/20a71932b4952bc9f725b3dce049ea50/d9b14bd9ef815581-81/s75x75_c1/cc68957fcc92972f32321e8444324c1885f219bd.png);
}

dl.stats dd.collections::before {
  background: url(https://64.media.tumblr.com/e616bb720f26cbad0feb09ec5fbe94b1/d9b14bd9ef815581-6a/s75x75_c1/c146e64112b0e7742d170b3edac5ee66a771c174.png);
}

dl.work dl.stats dd.published::before {
  background: url(https://64.media.tumblr.com/47c648675ff22c28609f55f7797f02db/d9b14bd9ef815581-4a/s75x75_c1/60539202e63a4e14622d2769a25b45b8e00dde44.png);
}

dl.work dl.stats dd.status::before {
  background: url(https://64.media.tumblr.com/17f401f7c5826552a70787be93466355/d9b14bd9ef815581-8d/s75x75_c1/6bc5c3c4fe5b57d9c50ad5b232469e27cade20fa.png);
}

ul.statistics dl.stats dd.subscriptions::before {
  background: url(https://64.media.tumblr.com/ee20943568df3cc59d20159871bf9b9e/d9b14bd9ef815581-07/s75x75_c1/14fbfea9851e897e7d2eb4038411b2304d916a3e.png);
}

dl.stats dd.published::before,
dl.stats dd.status::before {
  width: 0px;
  margin-right: 0px;
}

li.collection dl.stats dd a[href$=collections]::before {
  background: url(https://64.media.tumblr.com/e616bb720f26cbad0feb09ec5fbe94b1/d9b14bd9ef815581-6a/s75x75_c1/c146e64112b0e7742d170b3edac5ee66a771c174.png);
}

li.collection dl.stats dd a[href$=works]::before {
  background: url(https://64.media.tumblr.com/ee46c670f6305a800f77c747751d8b45/d9b14bd9ef815581-98/s75x75_c1/2d7a56e672ddd8aa5c23291b3f6824b09f199f29.png);
}

li.collection dl.stats dd a[href$=bookmarks]::before {
  background: url(https://64.media.tumblr.com/0604b5bbb71f2e4d783667a4a8675e36/d9b14bd9ef815581-3a/s75x75_c1/0fb1305e9edbeeb9fb8a7882a81a23fe8e9d1ee1.png);
}

li.collection dl.stats dd a[href$=fandoms]::before {
  background: url(https://64.media.tumblr.com/5ae3aeba4172a5f70467a2001824f57a/d9b14bd9ef815581-3d/s75x75_c1/519d3a4438ba3c69233052fbd93d274505dbf9fc.png);
}

ul.statistics dl.stats dd::before,
li.work dl.stats dd::before,
li.bookmark dl.stats dd::before,
dl.work dl.stats dd::before,
.collection dl.stats dd a[href$=collections]::before,
li.collection dl.stats dd a[href$=works]::before,
li.collection dl.stats dd a[href$=bookmarks]::before,
li.collection dl.stats dd a[href$=fandoms]::before,
li.series dl.stats dd:not(.language):not(.words):not(.chapters):not(.collections):not(.comments):not(.kudos):not(.bookmarks):not(.hits):not(.published):not(.subscriptions):nth-of-type(1)::before,
li:not(.collection) dl.stats dd:not(.language):not(.words):not(.chapters):not(.collections):not(.comments):not(.kudos):not(.bookmarks):not(.hits):not(.published):not(.subscriptions):nth-of-type(2)::before,
dl.stats dd:not(.bookmarks) a[href$=bookmarks]::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: " ";
  background-size: 14px 14px !important;
  margin-right: 5px;
}