@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p {
    margin: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

header, section {
    padding: 20px;
}

section.flexContent {
    padding: 20px;
    background-color: lightgray;

    display: flex;
    flex-flow: column nowrap;
}

article.textMedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.mediaText {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    
}

article > div.text {
    flex: 1 1 500px;

}

article > div.media {
    flex: 1 0 500px;


}

div.media > img {
    display: block;
    margin: auto;
    width: 400px;
}

div.media > iframe {
    display: block;
    margin: auto;


    width: 90%;
}





